<h1>Repair Bills</h1>
<%= flash[:message] %>
 <%= button_to "Create New Repair Bill", new_repair_bill_path, method: 'get' %>

<ul><% @repair_bills.each do |repair_bill| %>
    
    <li><%= link_to(repair_bill.year_brand_model, repair_bill_path(repair_bill.id)) %></li>
    
    <% end %>
    <br>
   

</ul>