<h1>Bill of Repair</h1>

<% if @repair_bill.errors.any? %>
    <div id="error_explanation">
    <p><%= pluralize(@repair_bill.errors.count, "error")%> prohibited repair bill from being submitted:</p>
    <ul>
        <% @repair_bill.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %> 
    </ul>
<% end %>

<%= render partial: "form" %>
