<h1>Welcome to GuitarsFixed!</h1>
<h3><i> Your new home for all your guitar repair needs. </i></h3>
<p> You can view a list of all of our amazing technicians and their areas of expertise. </p>
<p> And then, if you have a guitar in need of repair, simply click <i>"Create New Repair Bill,"</i> fill out the form, and we'll have you back to shredding in no time!</p>